<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Fairies & Tales</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css', media: 'all' %>
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <%= active_link_to 'Home', root_path, class: 'nav-link', active: :exact %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'WIKI', wiki_path, class: 'nav-link' %>
          </li>
          <% if !current_user.present? %>
          <li class="nav-item">
            <%= active_link_to 'Login', new_user_session_path, class: 'nav-link user-func', active: :exact %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= active_link_to 'Settings', edit_user_registration_path, class: 'nav-link user-func', active: %r(/users.*) %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link user-func', active: :exact %>
          </li>
          <% end %>
        </ul>
      </nav>
      <h3 class="text-muted">Fairies & Tales</h3>
    </div>

    <div class="jumbotron">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>&copy; Fairies & Tales 2017</p>
    </footer>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js' %>
  <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        <% if type == 'form_errors' %>
          <% f[1].each do |t| %>
            toastr['<%= t[0].to_s %>']('<%= t[1] %>');
          <% end %>
        <% else %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      <% end %>
    </script>
  <% end %>
</body>
</html>
