<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Fairies & Tales</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <%= active_link_to 'Home', root_path, class: 'nav-link', active: :exact %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'WIKI', wiki_path, class: 'nav-link' %>
          </li>
          <% if !current_user.present? %>
          <li class="nav-item">
            <%= active_link_to 'Login', new_user_session_path, class: 'nav-link user-func', active: :exact %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= active_link_to 'Settings', edit_user_registration_path, class: 'nav-link user-func', active: :exact %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link user-func', active: :exact %>
          </li>
          <% end %>
        </ul>
      </nav>
      <h3 class="text-muted">Fairies & Tales</h3>
    </div>

    <% if notice %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Notice!</strong> <%= notice %>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Alert!</strong> <%= alert %>
        </div>
    <% end %>

    <div class="jumbotron">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>&copy; Peter Mikola 2017</p>
    </footer>

  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
